<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="miki.inc.com.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="miki.inc.com.popularmovies.PopularMoviesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="miki.inc.com.popularmovies.ui.movies.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="miki.inc.com.popularmovies.ui.movies_details.MoviesDetailsActivity"
            android:label="@string/title_activity_movies_details"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".network.database.MoviesProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>